[user]
  name  = Marco Otte-Witte
  email = marco.otte-witte@simplabs.com

[alias]
  sh     = !git-sh
  st     = !git-status
  ss     = !git-status -s
  ci     = !git-commit
  co     = !git-checkout
  a      = !git-add
  grab   = !git-grab
  thanks = !git-thanks
  cv     = !git-cv
  track  = !git-track
  ll     = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --name-status
  ls     = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  review = log -p --max-count=1
  extlog = log --stat
  wip    = !git add -u && git commit -m ...
  wipc   = !date >> WIP && git add WIP && git commit -m ...
  fp     = format-patch --stdout
  cp     = cherry-pick
  sm     = submodule
  cntn   = branch --contains

[core]
  filemode         = true
  logallrefupdates = true
  whitespace       = space-before-tab, trailing-space
  editor           = mate -w
  pager            = less -r

[branch]
  autosetupmerge = true

[diff]
  renames        = copies
  mnemonicprefix = true

[help]
  browser = open

[sendemail]
  smtpserver     = smtp.gmail.com
  smtpserverport = 587
  smtpencryption = tls
  smtpuser       = marco.otte-witte@simplabs.com

[color]
  ui = auto

[color "diff"]
  meta = blue bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "branch"]
  current = yellow reverse
  local   = yellow bold
  remote  = green bold
  plain   = red bold

[color "status"]
  added     = yellow
  changed   = green bold
  untracked = blue bold

[advice]
  statusHints = false

[rerere]
  enabled = true

[push]
  default = current
